- title "Create new profile"
- named_panel("accounts", 'profile')

= form_for(@profile, :url => account_profiles_path(@account), :html => {:method => :post}) do |form|
  = errors_for @profile
  .form_fields
    = render :partial => "form", :object => form
  .form_fields
    = render :partial => "tos_form", :object => form
  .submit= form.submit "Finish"
