- title @profile
- panel @profile, 'relationship'

.important_centered
  .primary= describe_relationship(@relationship, @profile)
  - unless blocked_id?(@profile._id)
    .secondary= describe_colleague_relationship(@relationship)
.button_links
  - if blocked_id?(@profile._id)
    = link_to "Un-block", toggle_block_relationship_path(@profile), :class => "right_align"
  - elsif friended_id?(@profile._id)
    = link_to "Stop sharing", toggle_friend_relationship_path(@profile)
  - else
    = link_to "Block", toggle_block_relationship_path(@profile), :class => "right_align"
    = link_to "Start sharing with #{@profile.full_name}", toggle_friend_relationship_path(@profile), :class => "large"
- if blocked_id?(@profile._id)
  .description
    %p This profile is currently blocked. This limits the amount of activity you are capable of sharing with the owner of this profile, in fact this should be pretty much the only place the profile will be visible to you anywhere.
    %p Likewise the owner of this profile will not be capable of sharing with you.
    - if blocked_id?(@profile._id)
      %p
        This will be available from your
        = link_to "blocked profiles page", blocked_relationships_path
        as a convenience to you should you ever change your mind.
      -#
        %p
          If it is a serious problem you may wish to
          = link_to "report"
          this profile.
