- if signed_in?
  .attachable.add_item.textarea_autosize
    = form_for(:item, :url => stream_items_path(add_item), :html => {:multipart => true}) do |form|
      .text_area= form.text_area :content
      .submit= form.submit "Share"
      .t_link.attached{:style => "display:none;"}
        = form.text_field :link_submitted, :disabled => true
      .t_picture.attached{:style => "display:none;"}
        = form.file_field :attach, :disabled => true
      .t_picture_url.attached{:style => "display:none;"}
        = form.text_field :remote_attach_url, :disabled => true
