!!!
%html
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %title= [@page_title, APP[:site_name]].compact.join(" - ")
    = stylesheet_link_tag 'layout', 'forms', 'goodbox'
    -#
      = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Cantarell'
      = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Lekton'
    - bgh = rand(360)
    %style{:type => "text/css", :media => "screen"}
      :sass
        body
          .primary_bg
            :background-color hsla(#{bgh}, 70%, 25%, 1) !important
          a, span.link, span.faux_link
            :color hsla(#{bgh}, 70%, 25%, 1)
          #top #menu .drop_down:hover a span
            :color hsla(#{bgh}, 70%, 25%, 1) !important
          ul.controls li
            a
              :color hsla(#{bgh}, 70%, 25%, 1) !important
            a:hover
              :background-color hsla(#{bgh}, 70%, 25%, 1) !important
              :background-image url('/images/lighten.png') !important
    = javascript_include_tag :defaults, 'goodbox'
    = csrf_meta_tag
    = yield :head
  %body
    #viewport
      #top.primary_bg
        .hor_container
          .container
            = link_to image_tag('logo.png', :alt => APP[:site_name]), root_path, :id => "logo", :class => "nav"
            #menu
              - if signed_in?
                = render :partial => "adjuncts/menu_dropdown"
            #navigation
              - if signed_in?
                = link_to current_profile, current_profile, :class => "nav"
                .text= "or"
                = link_to "sign out", logout_path, :class => "nav"
                .nav.tools
                  .arrow_down
                  %ul.controls
                    %li= link_to "Edit profile", edit_profile_path(current_profile)
                    %li= link_to "Sharing", relationships_profile_path(current_profile)
                    %li= link_to "Blocked profiles", blocked_relationships_path
              - else
                = link_to "Create account", new_account_path, :class => "nav"
                .text= "or"
                = link_to "login", new_session_path, :class => "nav"
      #middle
        .hor_container
          .container
            - unless notice.blank?
              #notice.primary_bg= notice
            #title= @page_title
            - if !@right_panel
              = yield
            - else
              #right_panel
                = yield :right_panel
              #left
                = yield
          #ad_bar
          #propaganda
            %p Please disable adblock in your browser for this site.
            %p It's how I make money.
        / #bottom
        /   .sec_container
