- title "Create account"
- named_panel("sessions", 'join')

= form_for @account do |form|
  = errors_for @account
  .form_fields
    = form.fields_for :profile do |profile_fields|
      = render :partial => "profiles/form", :object => profile_fields
    = render :partial => "passwords/form", :object => form
    .field.new_row
      %p= form.label :email
      %p= form.text_field :email
  .form_fields
    = form.fields_for :profile do |profile_fields|
      = render :partial => "profiles/tos_form", :object => profile_fields
  .submit= form.submit "Submit"
